@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lucid Tracker</h1>
    <p class="lead">Snij o czym chcesz i jak chcesz. Spełnij marzenia i przekrocz granice. Wszystko zalerzy od ciebie.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Notatki</h2>
        <p>
            Opisz już teraz swoje sny i spełniaj marzenia.
        </p>
        <p><a class="btn btn-primary" href="https://sknfizjoterapii.wum.edu.pl/sites/sknfizjoterapii.wum.edu.pl/files/AS_propriocepcja_0.pdf">Spróbuj! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coś tam</h2>
        <p>coś tam coś tam coś tam coś coś cosi coś.</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Duszy buton &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
        <a class="button" onclick="location.href='http://www.ossus.pl/biblioteka/Tragedia_Dartha_Plagueisa_M%C4%85drego'" title="Coś tam">
            <img src="http://memy.pl/show/big/uploads/Post/154029/15001030069229.jpg" style="height:300px;width:300px" />
        </a>
    </div>
</div>

<div class="jumbotron">

    <marquee>
        <p class="lead">
            Żaden Jedi nie opowiedziałby ci tej historii.
            To legenda Sithów. Darth Plagueis był mrocznym Lordem Sith. Tak potężnym i mądrym, że potrafił wpływać Mocą na midichloriany, by tworzyć... życie.
            Miał tak ogromną wiedzę o Ciemnej Stronie, że mógł utrzymać przy życiu tych, na których mu zależało.
            Stał się tak potężny, że jedyną rzeczą, jakiej się obawiał... była utrata tej potęgi, co oczywiście się stało.
            Niefortunnie, całą swoją wiedzę przekazał uczniowi, który to uczeń podstępnie zabił go podczas snu.
            Cóż za ironia. Potrafił ocalić innych od śmierci, ale nie siebie samego.
        </p>
    </marquee>
    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/332612561&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

</div>
