
@{
    ViewBag.Title = "Index";
}

<h2>Tutoriale</h2>
<table>
    <tr>
        <th>
            <a class="button" onclick="location.href='https://sknfizjoterapii.wum.edu.pl/sites/sknfizjoterapii.wum.edu.pl/files/AS_propriocepcja_0.pdf'" title="Pierwszy tutorial">
                <img src="https://www.businessprocessincubator.com/wp-content/uploads/thumbnails/thumbnail-41403.jpg" style="height:300px;width:300px"/>
            </a>

            <a class="button" onclick="location.href='https://sknfizjoterapii.wum.edu.pl/sites/sknfizjoterapii.wum.edu.pl/files/AS_propriocepcja_0.pdf'" title="Drugi tutorial">
                <img src="https://www.businessprocessincubator.com/wp-content/uploads/thumbnails/thumbnail-41403.jpg" style="height:300px;width:300px"/>
            </a>

            <a class="button" onclick="location.href='https://sknfizjoterapii.wum.edu.pl/sites/sknfizjoterapii.wum.edu.pl/files/AS_propriocepcja_0.pdf'" title="Trzeci tutorial">
                <img src="https://www.businessprocessincubator.com/wp-content/uploads/thumbnails/thumbnail-41403.jpg" style="height:300px;width:300px"/>
            </a>
        </th>
    </tr>

    <tr>
        <th>
            <a class="button" onclick="location.href='https://sknfizjoterapii.wum.edu.pl/sites/sknfizjoterapii.wum.edu.pl/files/AS_propriocepcja_0.pdf'" title="Czwarty tutorial">
                <img src="https://www.businessprocessincubator.com/wp-content/uploads/thumbnails/thumbnail-41403.jpg" style="height:300px;width:300px"/>
            </a>

            <a class="button" onclick="location.href='https://sknfizjoterapii.wum.edu.pl/sites/sknfizjoterapii.wum.edu.pl/files/AS_propriocepcja_0.pdf'" title="Piąty tutorial">
                <img src="https://www.businessprocessincubator.com/wp-content/uploads/thumbnails/thumbnail-41403.jpg" style="height:300px;width:300px" />
            </a>

            <a class="button" onclick="location.href='https://sknfizjoterapii.wum.edu.pl/sites/sknfizjoterapii.wum.edu.pl/files/AS_propriocepcja_0.pdf'" title="Szósty tutorial">
                <img src="https://www.businessprocessincubator.com/wp-content/uploads/thumbnails/thumbnail-41403.jpg" style="height:300px;width:300px"/>
            </a>
        </th>
    </tr>



    
</table>

